body {
    background-color: #292C34;
}

.header {
    background-color: whitesmoke;
    text-align: center;
}

.header>h1 {
    text-align: center;
    display: inline-block;
}

.header>h2 {
    text-align: center;
    margin: 0;
}

.scoreboard {
    border: 3px solid whitesmoke;
    width: 200px;
    color: white;
    font-size: 46px;
    border-radius: 4px;
    margin: 20px auto;
    padding: 15px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.banner {
    background: #E2584D;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 10px;
}

#mage-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#paladin-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

#battle-output>p {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#image-container {
    text-align: center;
    margin-top: 50px;
}

.image {
    height: 350px;
    width: 350px;
    margin: 30px;
}